<h1> Here are all the Like-Minded Groups </h1>

<ul>
  <% @groups.each do |group| %>
    <li> <%= link_to group.name, group_path(group) %> </li>
  <% end %>
</ul>

<div class = "logo">
<img src = "/assets/LMLogo.png">
</div>